<a href="https://colab.research.google.com/github/chinmayj23/ML/blob/master/ML_remedial2_J079.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

KC2

In [68]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler

from sklearn import linear_model
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

np.random.seed(27)

In [69]:
data=pd.read_csv("/content/drive/My Drive/kc2.csv")

In [70]:
data.head()

     loc  v(g)  ev(g)  iv(g)  ...  total_Op  total_Opnd  branchCount  problems
0    1.1   1.4    1.4    1.4  ...       1.2         1.2          1.4        no
1    1.0   1.0    1.0    1.0  ...       1.0         1.0          1.0       yes
2  415.0  59.0   50.0   51.0  ...     692.0       467.0        106.0       yes
3  230.0  33.0   10.0   16.0  ...     343.0       232.0         65.0       yes
4  175.0  26.0   12.0   13.0  ...     310.0       190.0         51.0       yes

[5 rows x 22 columns]

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loc               522 non-null    float64
 1   v(g)              522 non-null    float64
 2   ev(g)             522 non-null    float64
 3   iv(g)             522 non-null    float64
 4   n                 522 non-null    float64
 5   v                 522 non-null    float64
 6   l                 522 non-null    float64
 7   d                 522 non-null    float64
 8   i                 522 non-null    float64
 9   e                 522 non-null    float64
 10  b                 522 non-null    float64
 11  t                 522 non-null    float64
 12  lOCode            522 non-null    int64
 13  lOComment         522 non-null    int64
 14  lOBlank           522 non-null    int64
 15  lOCodeAndComment  522 non-null    int64
 16  uniq_Op           522 non-null    float64
 17  uniq_Opnd         522 non-null    float64
 18  total_Op          522 non-null    float64
 19  total_Opnd        522 non-null    float64
 20  branchCount       522 non-null    float64
 21  problems          522 non-null    object
dtypes: float64(17), int64(4), object(1)
memory usage: 89.8+ KB

In [72]:
data.loc[0:19]

      loc  v(g)  ev(g)  iv(g)  ...  total_Op  total_Opnd  branchCount  problems
0     1.1   1.4    1.4    1.4  ...       1.2         1.2          1.4        no
1     1.0   1.0    1.0    1.0  ...       1.0         1.0          1.0       yes
2   415.0  59.0   50.0   51.0  ...     692.0       467.0        106.0       yes
3   230.0  33.0   10.0   16.0  ...     343.0       232.0         65.0       yes
4   175.0  26.0   12.0   13.0  ...     310.0       190.0         51.0       yes
5   163.0  16.0   13.0   11.0  ...     260.0       180.0         31.0       yes
6   152.0  11.0    6.0   11.0  ...     256.0       176.0         21.0       yes
7     3.0   1.0    1.0    1.0  ...       1.0         0.0          1.0        no
8    14.0   2.0    1.0    2.0  ...      13.0         9.0          3.0        no
9    10.0   2.0    1.0    2.0  ...      11.0         7.0          3.0        no
10    8.0   1.0    1.0    1.0  ...       5.0         5.0          1.0        no
11    6.0   1.0    1.0    1.0  ...       3.0         2.0          1.0        no
12   14.0   2.0    1.0    1.0  ...       6.0         5.0          3.0        no
13    4.0   1.0    1.0    1.0  ...       5.0         4.0          1.0        no
14    2.0   1.0    1.0    1.0  ...       3.0         2.0          1.0        no
15    2.0   1.0    1.0    1.0  ...       1.0         0.0          1.0        no
16   39.0   4.0    1.0    2.0  ...      49.0        34.0          7.0        no
17    5.0   1.0    1.0    1.0  ...       5.0         2.0          1.0        no
18    9.0   2.0    1.0    1.0  ...      11.0        10.0          3.0        no
19    9.0   2.0    1.0    1.0  ...      11.0        10.0          3.0        no

[20 rows x 22 columns]

In [73]:
data.loc[:,:'branchCount']

       loc  v(g)  ev(g)  iv(g)  ...  uniq_Opnd  total_Op  total_Opnd  branchCount
0      1.1   1.4    1.4    1.4  ...        1.2       1.2         1.2          1.4
1      1.0   1.0    1.0    1.0  ...        1.0       1.0         1.0          1.0
2    415.0  59.0   50.0   51.0  ...      106.0     692.0       467.0        106.0
3    230.0  33.0   10.0   16.0  ...       67.0     343.0       232.0         65.0
4    175.0  26.0   12.0   13.0  ...       58.0     310.0       190.0         51.0
..     ...   ...    ...    ...  ...        ...       ...         ...          ...
517    4.0   1.0    1.0    1.0  ...        1.0       4.0         1.0          1.0
518    4.0   1.0    1.0    1.0  ...        1.0       3.0         1.0          1.0
519    4.0   1.0    1.0    1.0  ...        1.0       3.0         1.0          1.0
520    4.0   1.0    1.0    1.0  ...        2.0       3.0         2.0          1.0
521    3.0   1.0    1.0    1.0  ...        0.0       1.0         0.0          1.0

[522 rows x 21 columns]

In [74]:
scaler= StandardScaler()
df = scaler.fit_transform(data.loc[:,:'branchCount'])

In [75]:
y=data['problems']

In [76]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y.unique())
y = le.transform(y)

In [77]:
seed = 8
test_size = 0.2
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=test_size, random_state=seed)

In [78]:
logistic = linear_model.LogisticRegression()
sgd = linear_model.SGDClassifier()

In [79]:
scores = cross_val_score(logistic, X_train, y_train, cv=5, scoring='roc_auc')
np.mean(scores)
np.std(scores)

0.0424445179579812

In [80]:
scores = cross_val_score(sgd, X_train, y_train, cv=5, scoring='roc_auc')
np.mean(scores)
np.std(scores)

0.04030448030058634

In [81]:
penalty = ['l1', 'l2']
C = [0.0001, 0.001, 0.01]
class_weight = [{1:0.5, 0:0.5}, {1:0.6, 0:0.4}]
solver = ['liblinear', 'saga'] #

paramgrid = dict(penalty=penalty, C=C, class_weight=class_weight, solver=solver)

grid = GridSearchCV(estimator=logistic, param_grid=paramgrid, scoring='roc_auc', verbose=1, n_jobs=-1)
grid_result = grid.fit(X_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:    0.6s finished

In [82]:
grid_result.best_score_
grid_result.best_params_

{'C': 0.01,
 'class_weight': {0: 0.4, 1: 0.6},
 'penalty': 'l2',
 'solver': 'liblinear'}

In [83]:
y_test_pred = grid_result.predict(X_test)
y_test_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0])

In [84]:
from sklearn.metrics import accuracy_score
ans = accuracy_score(y_test, y_test_pred)

In [85]:
ans

0.8

In [86]:
penalty = ['l1', 'l2']
eta0 = [0.5, 1, 1.5]
loss= ['hinge','log']
alpha = [0.0001, 0.001]
learning_rate = ['constant', 'optimal']
class_weight = [{1:0.5, 0:0.5}, {1:0.6, 0:0.4}]


paramgrid = dict(penalty=penalty, eta0=eta0, class_weight=class_weight, loss=loss, alpha=alpha, learning_rate=learning_rate)

grid2 = GridSearchCV(estimator=sgd, param_grid=paramgrid, scoring='roc_auc', verbose=1, n_jobs=-1)
grid_result2 = grid2.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 5 folds for each of 96 candidates, totalling 480 fits

[Parallel(n_jobs=-1)]: Done 460 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done 480 out of 480 | elapsed:    1.6s finished

In [87]:
grid_result2.best_score_
grid_result2.best_params_

{'alpha': 0.0001,
 'class_weight': {0: 0.4, 1: 0.6},
 'eta0': 1.5,
 'learning_rate': 'constant',
 'loss': 'log',
 'penalty': 'l2'}

In [88]:
y_test_pred2 = grid_result2.predict(X_test)

In [89]:
y_test_pred2

array([0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0])

In [90]:
from sklearn.metrics import accuracy_score
ans2 = accuracy_score(y_test, y_test_pred2)

In [91]:
ans2

0.819047619047619